.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#gridbox {
    content: "";
    display: table;
    clear: both;

}

div {
    float: left;
    height: 150px;
    width: 150px;
    padding: 0 0px;
}


#b1, #b3, #b6, #b8, #b9, #b11, #b14, #b16 {
    background-color: aquamarine;
}

#b2, #b4, #b5, #b7, #b10, #b12, #b13, #b15 {
    background-color: lemonchiffon;
}



